<article>
	<h1 class="titulo">{{titulo}}</h1>
	<fieldset>
		<legend>Informações Gerais</legend>
		<p>
			Com o objetivo de estimular a pesquisa e o desenvolvimento do conhecimento acerca do emprego dos conceitos
			correlatos a tecnologias de Sistemas Web e trabalhar o convívio em equipe, daremos início ao planejamento do
			Seminário para o desenvolvimento de um sistema web que atenda a necessidade e requisitos abaixo. 
			A locadora XPTZ Rent a Car iniciou suas atividades no mês de Janeiro de 2017 com uma frota de 95 automóveis
			das mais diversas marcas e modelos. Atualmente a empresa tem tido muito trabalho por não possuir um
			sistema para controle das locações efetuadas.
		</p>
		<p>
			Sua equipe foi contratada para desenvolver uma solução que atenda aos requisitos abaixo:
			a. De negócio:
			i. A locadora precisa manter os dados do cliente (incluir, alterar, excluir e consultar);
			ii. A locadora necessita manter os dados dos veículos para locação (incluir, alterar, excluir e
			consultar);
			iii. Existe a necessidade de uma tela para realizar a locação de um veículo para um cliente.
			1. O veículo e o cliente já devem estar cadastrados;
			2. O veículo não pode estar locado no momento da reserva;
			3. Na tela de reserva, ao selecionar a marca do veículo (GM, Ford, Fiat, etc), deverá ser
			preenchido uma lista de veículos disponíveis daquela marca. Deverá ser feito via AJAX.
			iv. É necessário ter a funcionalidade de devolução do veículo;
			b. Técnico:
			i. O sistema precisa ser web;
			ii. No front end utilizar: HTML 4 e/ou 5, JavaScript, CSS.
			iii. Não utilizar frameworks no frot end;
			iv. O back end fica a cargo da equipe
		</p>
	</fieldset>
</article>